.main {
     width: 70vw;
     height: 90vh;
     background: inherit;
     padding: 1vw;
     margin: auto;
     position: relative;
     top: 5vh
 }

 .body {
     background-color: black;
     animation-name: background;
     animation-duration: 1s;
     animation-fill-mode: forwards;
     animation-delay: 2s;
     font-family: 'Abel', sans-serif
 }

 .img-nice {
     width: 20vw;
     height: auto;
     transform: rotateY(360deg);
     animation-name: photo;
     animation-duration: 1s;
     animation-fill-mode: forwards;
     animation-delay: 1s
 }

 .test1 {
     background-color: rgba(255, 255, 255, 0);
     height: 10vw;
     padding: 1vw;
     animation-name: text;
     animation-duration: 1s;
     animation-fill-mode: forwards
 }

 @keyframes text {
     from {
         width: 0%;
         font-size: 0vw
     }

     to {
         width: 45vw;
         font-size: 1.2vw
     }
 }

 @keyframes photo {
     from {
         transform: rotateY(180deg)
     }

     to {
         transform: rotateY(360deg)
     }
 }

 @keyframes background {
     from {
         background-color: black
     }

     to {
         background-color: #29b6f6
     }
 }

//  .by {
//      font-family: 'Dancing Script', cursive
//  }

 @media only screen and (max-width: 425px) {
     .main {
         width: 100vw;
         padding: 3vw;
         height: auto
     }

     img {
         height: 30vw;
         width: 30vw;
         margin: 5vw
     }

     .test1 {
         height: 45vw;
         padding: 3vw;
         font-size: auto
     }
 }
