.font-same {
    width: 100%;
    height: auto;
    top: 10px;
    color: #8a8787;
    left: 2px;
    right: 2px;
    letter-spacing: 1px;
    padding: 5px 15px 0 15px;
    text-align: left;
    font-size: 18px;
    background: #fff6ea;

}
