<div class="container-img">
</div>
<hr class="spacer">
  <h1 class="title">THIRST TRAIL</h1>
  <h2 class="subtitle">• YOUR POCKET COCKTAIL BUILDER •</h2>
<hr class="spacer">

<div class="container">
<br>
  <div class="btn-home">
    <%= link_to "Get started", new_preference_path, class: "btn btn-ghost" %>
  </div>
  <div class="row">
      <div class="col-12 col-md-6">
        <div class="home-card">
          <h2 class="info-title">HOW IT WORKS</h2>
          <p class="info-details">Tell us about your event, share your mood, pick your ingredients and let our app generate delicious cocktails for your parties.</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="home-card">
          <h2 class="info-title">RENT-A-MIXER</h2>
          <p class="info-details">Bored to do it yourself? Rent-a-Mixer allows you to hire a professional cocktail mixologist in your area. Just lay back and have an expert prepare the cocktails for your event.</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="home-card">
          <h2 class="info-title">OUR TEAM</h2>
          <p class="info-details">We are a team of four developers with a thirst for amazing UX (and delicious cocktails!)</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="home-card">
          <h2 class="info-title">OUR PARTNERS</h2>
          <p class="info-details">Our partners include Le Wagon Portugal and Rent-a-Mixer, an app by ThirstTrail.</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="home-card">
          <h2 class="info-title">CONTACT US</h2>
          <p class="info-details">We are always happy to help you so please do not hesitate in contacting us with any query you might have.</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="home-card">
          <h2 class="info-title">FIND US</h2>
          <p class="info-details">You can find us at the following pages:
          <br>
          <a target="_blank" href="https://github.com/jreis13/ThirstTrail"><i class="fab fa-github"></i></a></p>
        </div>
      </div>
      <div class="footer">
  </div>
</div>
