<h2 class="text-center review-title">Reviews:</h2>
<hr class="divider">
<div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-5 col-md-7 col-sm-9">
      <div id="carouselExampleIndicators" class="carousel slide container-how" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card border-0 ">
              <div class="card-header"></div>
                <div class="card-body text-center "><img class="img-1 img-fluid" src="https://images.unsplash.com/photo-1446214814726-e6074845b4ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=535&q=80">
                  <div class="quotes"><img class="quotes-img card-title" src="https://image.flaticon.com/icons/png/512/63/63204.png" />
                    <p class="card-text bold text-center px-md-3 intro">Thanks to ThirstTrail, we throw the best home parties for our friends!</p>
                    <h5 class="font-weight-bold mt-4"><br>Mike (38) - Blogger</h5>
                  </div>
                </div>
            </div>
          </div>
            <div class="carousel-item">
              <div class="card border-0 ">
                <div class="card-header"></div>
                  <div class="card-body text-center "><img class="img-1 img-fluid" src="https://images.unsplash.com/photo-1554774853-d50f9c681ae2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80">
                    <div class="quotes"><img class="quotes-img card-title" src="https://image.flaticon.com/icons/png/512/63/63204.png" />
                      <p class="card-text bold text-center px-md-3 intro">ThirstTrail is the perfect way for me to act like a sophisticated person.</p>
                      <h5 class="font-weight-bold mt-4"><br>Fritz (22) - Student</h5>
                    </div>
                  </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="card border-0 ">
                  <div class="card-header"></div>
                    <div class="card-body text-center "><img class="img-1 img-fluid" src="https://images.unsplash.com/photo-1613679358839-d897e8dc1437?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=434&q=80">
                      <div class="quotes"><img class="quotes-img card-title" src="https://image.flaticon.com/icons/png/512/63/63204.png" />
                        <p class="card-text bold text-center px-md-3 intro">This app is a great excuse for me to avoid my responsibilities.</p>
                        <h5 class="font-weight-bold mt-4"><br>Sophia (28) - Graphics Designer</h5>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
