<div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 class="font-weight-bold">How ThirstTrail works</h3>
        <p class="mt-4 item"><a>Ingredients</a></p>
        <p class="item"><a>Preferences</a></p>
        <p class="item"><a>Matching</a></p>
        <p class="margin item"><a>Cocktails</a></p>

       <!-- <p class="item"><a><i class="fas fa-chevron-left fa-4x mt-3 ml-2"></i></a></p>
        <p class="mt-4"><a><i class="fas fa-square mr-1"></i></a><a><i class="far fa-square mr-1"></i></a><a><i
              class="far fa-square mr-1"></i></a><a><i class="far fa-square"></i></a></p> !-->
      </div>
      <div class="col-md-9" style="left: 50px;">
        <div class="row padding">
          <div class="col-md-12 font-weight-bold header">
            <p style="font-size: 60px; margin-bottom: 0;">Making you a cocktail pro</p><br>
          </div>
          <div class="row">
            <div class="col-md-6"><br>
              <p style="font-size: 20px;">ThirstTrail provides you with the most innovative solution to match your individual needs and preferences.
                Our innovative approach is based on a complex algorithm that analyses your tastes, setting and event type. Through our enhanced matching software, ThirsTrail chooses from almost 1.000 different cocktail recipes and provides your with the best ideas for suitable cocktails.
                <br><br>Any event setting can now be enhanced with the most suitable tastes and variations in order to make them a success.
                ThirstTrail providesyou with detailed recipes that are a perfect match to the preferences, group size and event type - to make your evening perfect.
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class="container px-2 px-md-4 py-5 mx-auto ">
    <div class="row d-flex justify-content-center ">
        <div class="col-lg-5 col-md-7 col-sm-9 ">
            <div id="carouselExampleIndicators" class="carousel slide d-flex" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" ></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="card border-0 ">
                            <div class="card-header"></div>
                            <div class="card-body text-center "><img class="img-1 img-fluid" src="https://images.unsplash.com/photo-1446214814726-e6074845b4ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=535&q=80">
                                <div class="quotes"><img class="quotes-img card-title" src="https://image.flaticon.com/icons/png/512/63/63204.png" />
                                    <p class="card-text bold text-center px-md-3 intro"><i>Thanks to ThirstTrail, we throw the best home parties for our friends.</i></p>
                                    <h5 class="font-weight-bold mt-4"><br>Mike (38) - Blogger</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="card border-0 ">
                            <div class="card-header"></div>
                            <div class="card-body text-center "><img class="img-1 img-fluid" src="https://images.unsplash.com/photo-1554774853-d50f9c681ae2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80">
                                <div class="quotes"><img class="quotes-img card-title" src="https://image.flaticon.com/icons/png/512/63/63204.png" />
                                    <p class="card-text bold text-center px-md-3 intro"><i>ThirstTrail is the perfect way for me to act like a sophisticated person.</i></p>
                                    <h5 class="font-weight-bold mt-4"><br>Fritz (22) - Student</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card border-0 ">
                            <div class="card-header"></div>
                            <div class="card-body text-center "><img class="img-1 img-fluid" src="https://images.unsplash.com/photo-1613679358839-d897e8dc1437?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=434&q=80">
                                <div class="quotes"><img class="quotes-img card-title" src="https://image.flaticon.com/icons/png/512/63/63204.png" />
                                    <p class="card-text bold text-center px-md-3 intro"><i>This app is a great excuse for me to avoid my responsibilities.</i></p>
                                    <h5 class="font-weight-bold mt-4"><br>Sophia (28) - Graphics Designer</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
