<h2 class="text-center team-title">How it works</h2>
<hr>
<div class="container main">
    <center>
        <div class="row one">
            <div class="col-sm-4 pic nice-img">
                <img class="img-nice" src="https://images.unsplash.com/photo-1560963689-49e1effbf59b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=630&q=80">
            </div>
            <div class="col-sm-8 test1">
                <h3>1. Define your tastes and preferences</h3>
                <br><br>
                Choose from almost <b>1000 amazing cocktail recipes</b> to make any event a success - or at least have nice drinks when it goes down. From the normal Gin&Tonic to the most complicated taste explosions created by the best mixologists in the world. Choose the most suitable out of our growing sortiment.
                <center>
                    <br>
                    <%# <p class="by">~ <b>Matthew Hussey</b></p> %>
                </center>
            </div>
        </div><br><br><br>
        <div class="row two">
            <div class="col-sm-8 test1 nice-img">
                <h3>2. Find awesome cocktails for your event</h3>
                <br><br>
                Our innovative cocktail algorithm analyses your tastes and preferences and matches the most suitable cocktails to your persona. Bygone are the times of searching through countless websites to find recipes online. <b>No more guessing:</b> find the best matches directly in your phone.
                <center>
                    <br>
                    <%# <p class="by">~ <b>Alisha Boe</b></p> %>
                </center>
            </div>
            <div class="col-sm-4 pic nice-img">
                <img class="img-nice" src="https://render.fineartamerica.com/images/rendered/default/throw-pillow/images/artworkimages/medium/1/2-complex-math-formulas-on-whiteboard-mathematics-and-science-with-economics-michal-bednarek.jpg?&targetx=-119&targety=0&imagewidth=718&imageheight=479&modelwidth=479&modelheight=479&backgroundcolor=C7C7C7&orientation=0&producttype=throwpillow-14-14">
            </div>
        </div><br><br><br>
        <div class="row one">
            <div class="col-sm-4 pic nice-img">
                <img class="img-nice" src="https://images.unsplash.com/photo-1485872299829-c673f5194813?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80">
            </div>
            <div class="col-sm-8 test1 nice-img">
                <h3>3. Host the most memorable events</h3>
                <br><br>
                "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                <center>
                    <br>
                    <%# <p class="by">~ <b>Tiffany Briseno</b></p> %>
                </center>
                <br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
    </center>
</div>
<br><br><br><br>
  <div class="btn-home">
    <%= link_to "Get started", getstarted_path, class: "btn btn-ghost" %>
  </div>
<br><br>
