<h1 class="text-center">Meet Our Team</h1>
<div class="container">
  <br><br>
    <div class="row">
        <!--team-1-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front"> <img src="https://photos.smugmug.com/C/EMPRESAS/LeWagon/n-Pmb29k/211111/i-KjKXLbJ/0/e2d69fce/X2/211105%20Le%20Wagon%20mug%20shots_105-X2.jpg" alt="Joao" class="img-fluid" />
                    <h3>João Francisco Reis</h3>
                    <p>CEO</p>
                </div>
                <div class="team-back"> <span> João is a brilliant entrepreneurial mind is a web designer at Google inc. having 10+ years of experience in web development. William's hobby is to play table tennis and all type of indoor games. </span> </div>
            </div>
        </div>
        <!--team-1-->
        <!--team-2-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front"> <img src="https://photos.smugmug.com/C/EMPRESAS/LeWagon/n-Pmb29k/211111/i-fc7xHft/0/f6da966d/X2/211105%20Le%20Wagon%20mug%20shots_112-X2.jpg" alt="Viktoriia" class="img-fluid" />
                    <h3>Viktoriia Katyukova</h3>
                    <p>COO</p>
                </div>
                <div class="team-back"> <span> David is a Project Manager at Apple inc. having 15+ years of experience in Android application development. William's hobby is to play Football and all type of outdoor games. </span> </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562038385/Emily_20Rekstis.jpg" class="img-fluid" />
                    <h3>Tiago Collot</h3>
                    <p>CTO</p>
                </div>
                <div class="team-back"> <span> Niharika is a Hybris Developer at Google India. having 7+ years of experience in Hybris application development. William's hobby is to travel all around the world and play all type of games. </span> </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front"> <img src="https://avatars.githubusercontent.com/u/45194703?v=4" alt="Lukas" class="img-fluid" />
                    <h3>Lukas Leys</h3>
                    <p>CMO</p>
                </div>
                <div class="team-back"> <span> William is a web designer at Google inc. having 10+ years of experience in web development. William's hobby is to play table tennis and all type of indoor games. </span> </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front"> <img src="https://avatars.githubusercontent.com/u/45194703?v=4" alt="Phillip" class="img-fluid" />
                    <h3>Phillip Sommerfeld</h3>
                    <p>Intern</p>
                </div>
                <div class="team-back"> <span> William is a web designer at Google inc. having 10+ years of experience in web development. William's hobby is to play table tennis and all type of indoor games. </span> </div>
            </div>
        </div>
    </div>
</div>
