<<<<<<< HEAD
<h1 class="text-center team-title"><b>Meet Our Team</b></h1>
<h3 class="text-center team-title">We are a group of software and marketing experts that want to help you throw the best cocktail parties.</h3>
=======
<h2 class="text-center team-title">Meet our Team</h2>
<p class="hint-about" style='text-align-center'>(Click us for details)</p>
<hr class="divider">
>>>>>>> 8d8296668cdf297aa8d1b65e3b5c006deac584d3
<div class="container">
    <div class="row">
        <!--team-1-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front"> <img src="https://res.cloudinary.com/drjmsp9it/image/upload/v1638530441/development/jreis-profile-removebg-preview_gghujw.png" alt="Joao" class="img-fluid" />
                    <h3 class="team-name">João Francisco Reis</h3>
                    <p class="team-role">CEO</p>
                </div>
                <div class="team-back"> <span> João a brilliant entrepreneurial mind and the brains behind the idea of making everyone a cocktail mixer with expertise. He has 6 years of professional experience in different business areas. </span> </div>
            </div>
        </div>
        <!--team-1-->
        <!--team-2-->
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front"> <img src="https://res.cloudinary.com/drjmsp9it/image/upload/v1638530441/development/vik-removebg-preview_ewsadc.png" alt="Viktoriia" class="img-fluid" />
                    <h3 class="team-name">Viktoriia Katyukova</h3>
                    <p class="team-role">COO</p>
                </div>
                <div class="team-back"> <span> Viktoriia is the heart of the company and represents the role of organizer of all internal processes - thus she is the go to person for all user requests. She has 5 years of experience with HR and organization. </span> </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front"> <img src="https://res.cloudinary.com/drjmsp9it/image/upload/v1638530441/development/tiago-removebg-preview_siv3sp.png" class="img-fluid" />
                    <h3 class="team-name">Tiago Collot</h3>
                    <p class="team-role">CTO</p>
                </div>
                <div class="team-back"> <span> Tiago is the technical director and mastermind behind ThirstTrail's software. He enables the technical realization of our visions. Tiago has over 7 years of professional experience in the startup space. </span> </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front"> <img src="https://res.cloudinary.com/drjmsp9it/image/upload/v1638536944/development/Lukas_Peach-removebg-preview_rr3cxq.png" alt="Lukas" class="img-fluid" />
                    <h3 class="team-name">Lukas Leys</h3>
                    <p class="team-role">CMO</p>
                </div>
                <div class="team-back"> <span> Lukas is our marketing genius who carries the message of our brand and vision to the outside world. He embodies ThirstTrail and makes sure that more people use our idea. He has several years of marketing experience. </span> </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="our-team-main">
                <div class="team-front"> <img src="https://res.cloudinary.com/drjmsp9it/image/upload/v1638530441/development/phillipp-removebg-preview_zkymcj.png" alt="Phillip" class="img-fluid" />
                    <h3 class="team-name">Phillip Sommerfeld</h3>
                    <p class="team-role">Intern</p>
                </div>
                <div class="team-back"> <span> Phillipp is our intern. He brings coffee. </span> </div>
            </div>
        </div>
    </div>
</div>
