<h1 class="text-center team-title"><b>Meet Our Partners</b></h1>
<h3 class="text-center team-title">We collaborate with the best people in order to bring you the best results</h3>
<div class="container">
<div class="container">
    <hr>
    <br>
    <br>
    <h3 style="text-align:center;"> Le Wagon </h3>
    <h5 style="text-align:center;"> Coding Experts: Le Wagon is one of the premier coding schools in the world </h5>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-15 col-md-8 col-lg-8 py-0 pl-3 pr-1 featcard">
            <div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card bg-dark text-white"> <img class="card-img img-fluid" src="https://res.cloudinary.com/wagon/image/upload/c_fill,h_240,q_auto,w_520/v1573837383/hxyecw2yabcyktibnjg0.webp" alt="">
                            <div class="card-img-overlay d-flex linkfeat"> <class="align-self-end"> <span class="badges" >Le Wagon</span>
                                    <!-- <h4 class="card-title">Coding Experts: Le Wagon is one of the premier coding schools in the world</h4>
                                    <p class="textfeat" style="display: none;">Hundreds of people have graduated from Le Wagon Lisbon coding bootcamp and have turned their dreams into reality. Get inspired by their stories.</p></a> !-->
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <h3 style="text-align:center;"> Rent-A-Mixer </h3>
    <h5 style="text-align:center;"> Connect with experienced cocktail mixers to spice up your events </h5>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-15 col-md-8 col-lg-8 py-0 pl-3 pr-1 featcard">
            <div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card bg-dark text-white"> <img class="card-img img-fluid" src="https://res.cloudinary.com/drjmsp9it/image/upload/v1638537087/development/rent-a-mixer_nihxja.png" alt="">
                            <div class="card-img-overlay d-flex linkfeat"> <class="align-self-end"> <span class="badges">Rent-A-Mixer</span>
                                    <!-- <h4 class="card-title">Connect with experienced cocktail mixers to spice up your events</h4>
                                    <p class="textfeat" style="display: none;">Rent-A-Mixer is your gateway to throwing the best, most memorable parties. We are your go-to solution to making events awesome. Our curated barmen and cocktail entertainers are happy to support you at any event idea.</p></a> !-->
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <h3 style="text-align:center;"> Alcoholics Anonymous </h3>
    <h5 style="text-align:center;"> AA is dedicated to helping alcoholics peer to peer in sobriety </h5>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-15 col-md-8 col-lg-8 py-0 pl-3 pr-1 featcard">
            <div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card bg-dark text-white"> <img class="card-img img-fluid" src="https://2n126kr5u3wcczfn1e1ihh1e-wpengine.netdna-ssl.com/wp-content/uploads/2020/03/what-is-alcoholics-anonymous-1024x675.jpg" alt="">
                            <div class="card-img-overlay d-flex linkfeat"> <class="align-self-end"> <span class="badges">Alcoholics Anonymous</span>
                                    <!-- <h4 class="card-title">AA is dedicated to helping alcoholics peer to peer in sobriety</h4>
                                    <p class="textfeat" style="display: none;">Rent-A-Mixer is your gateway to throwing the best, most memorable parties. We are your go-to solution to making events awesome. Our curated barmen and cocktail entertainers are happy to support you at any event idea.</p></a> !-->
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<br><br><br><br><br><br>
