<h2 class="text-center team-title">Our Partners</h2>
<hr class="divider">
<div class="cards-hiw">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://secure.meetupstatic.com/photos/event/c/7/4/b/highres_455931019.jpeg)">
    <h3 class="text-how">Le Wagon</h3>
  </div>
  <div class="info-details">
  <p>Le Wagon is one of the <b>premier coding schools in the world</b>. Hundreds of people have graduated from Le Wagon Lisbon coding bootcamp and have turned their dreams into reality. Get inspired by their stories.</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url(https://res.cloudinary.com/drjmsp9it/image/upload/v1638537087/development/rent-a-mixer_nihxja.png)">
    <h3 class="text-how">Rent-a-Mixer</h3>
  </div>
  <div class="info-details">
  <p>Rent-A-Mixer is your gateway to throwing the <b>best, most memorable parties</b>. We are your go-to solution to making events awesome. Our curated barmen and cocktail entertainers are happy to support you at any event idea.</p>
  </div>
<br>
<div class="container">
    <h4 class="text-center">Interested? Become our partner!</h4>
    <hr>
