<div class="container">
    <h3 class="text-center">NEWS</h3>
    <hr>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-15 col-md-8 col-lg-8 py-0 pl-3 pr-1 featcard">
            <div id="featured" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card bg-dark text-white"> <img class="card-img img-fluid" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1563077217/lede.jpg" alt="">
                            <div class="card-img-overlay d-flex linkfeat"> <a href="" class="align-self-end"> <span class="badge">Entertainment</span>
                                    <h4 class="card-title">Taylor Swift takes aim at 'dirty cheats' in Scooter Braun row</h4>
                                    <p class="textfeat" style="display: none;">The pop star claims Braun - whose clients include Justin Bieber and Ariana Grande - bullied for her years and said she felt "sad" and "grossed out" that he now owns her music after buying the label she was signed to.
                                    </p>
                                </a> </div>
                        </div>
                    </div>
                </div>
            </div>
