<div class="roulette">
  <div class="wheel spin">
    <div class="arrow">
    </div>
    <img src="https://fourrosesbourbon.com/wp-content/uploads/2021/05/tropical_sunset.png">
  </div>
</div>
  <div class="btn-home">
    <%= link_to "Go to mixer", getstarted_path, class: "btn btn-ghost" %>
  </div>
