
<div class="roulette">
  <div class="wheel spin">
    <div class="arrow">
    </div>
    <img src="https://fourrosesbourbon.com/wp-content/uploads/2021/05/tropical_sunset.png">
  </div>
</div>
<h3 style="text-align:center;">Don't know what you are supposed to drink today?<br>Spin the wheel - get a deal!</h3>
<br>
  <div class="btn-home">
    <%= link_to "See the result", recipe_path(@recipe), class: "random-recipe btn btn-ghost d-none" %><br>
  </div>

  <div class="btn-home">
    <%= link_to "Back to mixer", getstarted_path, class: "btn btn-ghost" %>
  </div>
