<%# <input type="button" value="I'm feeling lucky!" style="float:center;" id='spin'/>
<canvas id="canvas" width="500" height="500"></canvas> %>

<div class="d-flex justify-content-center">
      <button id="button-roulette" class="btn btn-lg btn-danger">Spin to pick host!</button>
      <div id="roulette-form"></div>
      <%# <%= simple_form_for [@event, @edition], html: { id: "roulette-form"} do |f| %>

      <%# <% end %>

<div>


  <div class="btn-home">
    <%= link_to "Go to mixer", getstarted_path, class: "btn btn-ghost" %>
  </div>
