<div class="container">
  <h2 class="text-center team-title">Welcome to ThirstTrail's Roulette</h2>
  <hr>
  <p class="hint-about" style="text-align-center">(Click cocktail to spin roulette)</p>
  <div class="roulette questions-container">
    <div class="wheel spin">
      <div class="arrow">
      </div>
      <img src="https://fourrosesbourbon.com/wp-content/uploads/2021/05/tropical_sunset.png">
    </div>
    <div class="btn-home">
      <%= link_to "See the result", recipe_path(@recipe), class: "random-recipe btn btn-ghost d-none" %><br>
    </div>
    <div>
      <p class="info-details-roulette">Changed your mind?</p>
      <p class="info-details-roulette-link"><%= link_to "Build your own cocktail", new_preference_path, class: "roulette-link" %>.</p>
    </div>
  </div>
</div>
