<div class="container">
<<<<<<< HEAD
  <br>
    <h1>Start building your cocktail:</h1>
    <%= render 'form', preference: @preference %>
=======
  <%= render 'form', preference: @preference %>
>>>>>>> 855d59043765e492df344a14252fb79eb6c52dd4
</div>
