<div class="container-error">
  <%= image_tag("errorbg.png", size: "400x400", alt: "Error 404") %>
</div>
<div class="btn-error">
  <h2>Error 404 - Page not found!</h2>
  <p class="hint">Have you had too much?!</p>
  <%= link_to "Go back", root_path, class: "btn btn-ghost-back" %>
</div>
