<div class="container-error">
  <%= image_tag("load.gif", size: "300x300", alt: "Error 422") %>
</div>
<div class="btn-error">
  <h2>Error 422 - Unprocessable entity!</h2>
    <p class="hint">Looks like our server was unable to process the contained instructions.</p>
    <%= link_to "Go back", root_path, class: "btn btn-ghost-back" %>
</div>
