.preference-opt {
  display: flex;
  justify-content: space-between;
}

.btn-pref {
  font-size: 25px;
  color: #ff8e00;
}

.btns-show {
  display: flex;
  flex-direction: column;
}

 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
