
.card-recipe {
  display: flex;
  flex-direction: row;
  height: 228px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: beige;
  padding:10px;

}

.card-recipe-title {
  align-self: flex-end;
}

.row {
  margin-top:1px;
}

.small-container {
  margin-top: 5px;
  height: 80%;
}
