.card-recipe {
  display: flex;
  flex-direction: row;
  border: none;
  height: 170px;
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: beige;
  padding: 10px;
}

.card-recipe-title {
  align-self: flex-end;
  font-size: 20px;
}

.card-recipe-show {
  width: 100%;
  height: 200px;
  border: none;
  object-fit: contain;
}

.card{
  a{
    color:white;
  }
}
