
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  margin: auto;
}

.btn-login {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover {
    color: #272626;
    opacity: 1;
    text-decoration: none;
  }
}

.signup-form {
  width:100%;
  margin-top: 20px;
  margin-bottom: 300px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  position: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.signup-form h2 {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.form-inputs {
  position: relative;
  // padding-top: 10px;
}

// .signup-btn {
//   margin-top: 20px;
// }

.boolean {
  justify-content: center;
  letter-spacing: 2px;
  margin-top: 20px;
}

.spacer-20 {
  width: 100%;
  height: 20px;
}
