.spacer {
  border: solid 0.5px;
  color: #F98C22;
  width: 80%;
  border-radius: 5px;
}

.spacer-bottom {
  border: solid 0.5px;
  color: #F98C22;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 0;
}

.divider {
  width: 80%;
}
