.roulette {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .wheel img {
    transition: transform 10s cubic-bezier(0.3, 1, 0.7, 1),
      10s filter cubic-bezier(0.1, 1, 0.8, 1),
      10s -webkit-filter cubic-bezier(0.1, 1, 0.8, 1);
    will-change: transform;
    border-radius: 50%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.0);
    width: 45vh;
    left: 50%;
    max-width: 600px;
    margin-top: 10vh;
  }

  .arrow {
    border: 40px solid transparent;
    border-top: 40px solid #F98C22;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 20;
    border-radius: 0.35em;
  }
}

.spin {
  cursor: crosshair;
}

.info-details-roulette {
  color: black;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1px !important;
}

.info-details-roulette-link {
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
