.form-check-label {
  border: none !important;
}

.form-check {
  margin-bottom: 12px;
}

// Alcholic

.alcohol-choice :nth-child(3) .form-check-label {
  background-image: asset-url("alcoholic.png");
  background-size: 65px;
  background-position: bottom;
  background-repeat: no-repeat;
  // margin-bottom: 50px;
}

// Non-alcoholic

.alcohol-choice :nth-child(4) .form-check-label {
  background-image: asset-url("non-alcoholic.png");
  background-size: 65px;
  background-position: bottom;
  background-repeat: no-repeat;
  // margin-bottom: 50px;
}

// Home

.event-choice :nth-child(3) .form-check-label {
  background-image: asset-url("home.png");
  background-size: 65px;
  background-position: bottom;
  background-repeat: no-repeat;
}

// Business

.event-choice :nth-child(4) .form-check-label {
  background-image: asset-url("business.png");
  background-size: 65px;
  background-position: bottom;
  background-repeat: no-repeat;
}

// Special Ocasion

.event-choice :nth-child(5) .form-check-label {
  background-image: asset-url("special-ocasion.png");
  background-size: 65px;
  background-position: bottom;
  background-repeat: no-repeat;
}

// Fruity

.category-choice :nth-child(3) .form-check-label {
  background-image: asset-url("fruity.png");
  background-size: 65px;
  background-position: bottom;
  background-repeat: no-repeat;
}

// Spicy

.category-choice :nth-child(4) .form-check-label {
  background-image: asset-url("spicy.png");
  background-size: 65px;
  background-position: bottom;
  background-repeat: no-repeat;
}

// Salty

.category-choice :nth-child(5) .form-check-label {
  background-image: asset-url("salty.png");
  background-size: 65px;
  background-position: bottom;
  background-repeat: no-repeat;
}

// Sour

.category-choice :nth-child(6) .form-check-label {
  background-image: asset-url("sour.png");
  background-size: 65px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.ingredient-choice {
  display: flex;
  justify-content: center;
  padding-top: 21vh;
}

.select2-results__options, .select2-search--inline{
  font-size: 14px !important;
 }


.questions-container-ingredient {
  padding: 30px 30px 0;
  background-image: asset-url("ingredient-bg.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  max-width: 450px;
  min-height: 80vh;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
